.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100vw;
}

.App-description {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 2rem;
  padding: 2rem 4rem;
  color: #10a2f5;
}

.App-heading {
  font-size: calc(10px + 2vmin);
  padding: 0;
  margin: 0;
  width: fit-content;
}

.App-footer {
  height: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-footer p {
  margin: .25rem 0;
}

.App-search-form {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.App-search-heading {
  margin-top: 2rem;
}

.App-search-input {
  width: 20rem;
  flex-grow: 1;
  margin-right: 2rem;
  padding: .75rem;
}

.App-search-button {
  width: 7rem;
}

.App-search-results-container {
  padding: 2rem 0;
  width: 60%;
  overflow: hidden;
}

.DocumentSearchResult-item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.DocumentSearchResult-item:hover {
  background-color: rgba(0,0,0,.2);
}

.DocumentSearchResult-image-container {
  width: 10rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
